#div1 {
    position: relative;
    width: 503px;
    height: 496px;
}

#filme {
    position: absolute;
    top: 20px; 
    left: 185px;
    width: 1100px;
    height: 370px; 
}

body {
    background-color: black;
}

#logo1 {
    width: 130px;
    height: 70px;
    margin-left: 30px;
    margin-top: 15px;
}