body {
    margin: 0 auto;
    background-color: black;
}

header {
    background-color: black;
    display: flex;
    height: 100px;
    width: 100%;
    position: 0;
}

#logo1 {
    width: 130px;
    height: 70px;
    margin-left: 30px;
    margin-top: 15px;#div1 {
        margin-left: 1050px;
    }
}


#div1000 {
    margin-left: 1250px;
}

#div2 {
    display: flex;
    justify-content: space-around;
}

a {
    color: white;
}

#filme1 , #filme1_titulo , #filme1_infos , #filme1_ano {
    margin-left: 30px;
    color: white;
}

#sinopse1 {
    width: 500px;
    color: white;
    margin-left: 30px;
}

#play1 {
    margin-top: 10px;
    font-size: 20px;
    margin-left: 30px;
    color: black;
    background-color: white;
    height: 50px;
    width: 150px;
}

#divona {
    display: flex;
    justify-content: space-around;
}

#filmes_bomb {
    color: white;
    margin-left: 57px;
    text-align: left;
}

.imagem-hover {
    transition: transform 0.3s ease, opacity 0.3s ease;
}
  
.imagem-hover:hover {
    transform: scale(1.1);
    opacity: 0.8; 
}

footer {
    text-align: center;
    background-color: black;
    color: red;
    margin-top: 30px;
}

#pntm {
    background-color: red;
    color: black;
}
